<!DOCTYPE html>

<html lang="es">

    <head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <!--Icono de la página web-->

   <link rel="icon" type="image/png" href="../multimedia/Logo GL web.png">

   <!--KEYWORDS-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Estudio de fotografía profesional. Books recien nacidos, cumpleaños, productos y/o indumentaria">
  <meta name="keywords" content="FOTOGRAFIA, CUMPLEAÑOS, BAUTISMOS, BOOKS, BABY SHOWER, VIDEO, INVITACION, FOTOS, LOGO, CUADRO">

  <!--Rutas de linkeo-->
     
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <link rel="stylesheet" href="../assets/css/estilos.css">
     <link rel="stylesheet" href="../assets/css/lightbox.min.css">
     

     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">

   <!--Titulo de la sección-->

         <title>GL Fotos-Books</title>

    <!--Estilo predeterminado para todas las listas-->

         <style>
            A:link {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            A:hover {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            A:visited {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            </style>

    </head>


    <body>


            <header> 
                
            <!--LOGO-->

            <div>
                <img src="../multimedia/Logo-GL-texto.png" alt="LOGO GL" class="logo">
           </div>  

           <!--Barra de navegación-->

           <nav>

                     <ul class="menu menuQuery">
                         <li><a href="../index.html">Inicio</a></li>
                         <li class="linkActivo"><a href="../views/Fotos.html">Fotos</a>
                             <ul class="subMenu subMenuCorreccion">
                               <li><a href="../views/books.html">Books</a></li>
                               <li><a href="../views/bautismos.html">Bautismos</a></li>
                               <li><a href="../views/cumpleanos.html">Cumpleaños</a></li>
                               <li><a href="../views/babyshowers.html">Baby showers</a></li>
                               <li><a href="../views/otros-fotos.html">Otros</a></li>
                             </ul>
                         </li>
                         <li><a href="../views/Videos.html">Videos</a>
                             <ul class="subMenu subMenuCorreccion">
                               <li><a href="../views/video-full.html">Video full</a></li>
                               <li><a href="../views/video-mixto.html">Video Mixto</a></li>
                               <li><a href="../views/video-fotos.html">Video de Fotos</a></li>
                               <li><a href="../views/videos-album.html">Video Álbum</a></li>
                             </ul>
                            </li>
                         <li><a href="../views/Disenos.html">Diseños</a>
                             <ul class="subMenu subMenuCorreccion">
                               <li><a href="../views/video-invitacion.html">Video Invitación</a></li>
                               <li><a href="../views/invitacion-digital.html">Invitación Digital</a></li>
                               <li><a href="../views/cuadros.html">Cuadros</a></li>
                               <li><a href="../views/logos.html">Logos</a></li>
                             </ul>
                            </li>
                         <li><a href="../views/Contacto.html">Contacto</a></li>
                     </ul>
                   

           </nav>
                  
       </header>   

        <h2 class="titulos" id="arriba"><u>GALERÍA BOOKS</u></h2>

        <!--Boton florante-->
 
        <div id="div-totop" class="cmn-divfloat">
            <a href="#arriba" class="btn cmn-btncircle">
                <i class="bi bi-house-fill"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                  </svg>
            </a>
        </div>

        <!--Titulos de las galerias-->

        <div>
            <ul class="galerias galeriasQuery">
                <li><a href="#dante">Book Dante</a></li>
                <li><a href="#emilia">Book Emilia</a></li>
                <li><a href="#romina">Book Romina</a></li>
                <li><a href="#indra">Book Indra</a></li>
                <li><a href="#facundo">Book Facundo</a></li>
                <li><a href="#felipe">Book Felipe</a></li>
                <li><a href="#isabella">Book Isabella</a></li>
                <li><a href="#catalina">Book Catalina</a></li>
            </ul>
        </div>

        <!--Galerias-->

        <h3 class="tituloGaleria" id="dante"><a href="#arriba">Book Dante</a></h3>
            <div class="galeria-container">
                <div class="galeria-card">
                    <a href="../multimedia/books/book_dante/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_dante/1c.jpg" alt="img1"></a>
                    <a href="../multimedia/books/book_dante/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_dante/2c.jpg" alt="img2"></a>
                    <a href="../multimedia/books/book_dante/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_dante/3c.jpg" alt="img3"></a>
                    <a href="../multimedia/books/book_dante/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_dante/4c.jpg" alt="img4"></a>
                    <a href="../multimedia/books/book_dante/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_dante/5c.jpg" alt="img5"></a>
                    <a href="../multimedia/books/book_dante/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_dante/6c.jpg" alt="img6"></a>
                    <a href="../multimedia/books/book_dante/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_dante/7c.jpg" alt="img7"></a>
                    <a href="../multimedia/books/book_dante/8.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_dante/8c.jpg" alt="img8"></a>
                    
                </div>
            </div>

            <h3 class="tituloGaleria" id="emilia"><a href="#arriba">Book Emilia</a></h3>
            <div class="galeria-container">
                <div class="galeria-card">
                    <a href="../multimedia/books/book_emi/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/1c.jpg" alt="img1"></a>
                    <a href="../multimedia/books/book_emi/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/2c.jpg" alt="img2"></a>
                    <a href="../multimedia/books/book_emi/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/3c.jpg" alt="img3"></a>
                    <a href="../multimedia/books/book_emi/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/4c.jpg" alt="img4"></a>
                    <a href="../multimedia/books/book_emi/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/5c.jpg" alt="img5"></a>
                    <a href="../multimedia/books/book_emi/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/6c.jpg" alt="img6"></a>
                    <a href="../multimedia/books/book_emi/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/7c.jpg" alt="img7"></a>
                    <a href="../multimedia/books/book_emi/8.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/8c.jpg" alt="img8"></a>
                    <a href="../multimedia/books/book_emi/9.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/9c.jpg" alt="img9"></a>
                    <a href="../multimedia/books/book_emi/10.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/10c.jpg" alt="img10"></a>
                    <a href="../multimedia/books/book_emi/11.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/11c.jpg" alt="img11"></a>
                    <a href="../multimedia/books/book_emi/12.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/12c.jpg" alt="img12"></a>
                    <a href="../multimedia/books/book_emi/13.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/13c.jpg" alt="img13"></a>
                    <a href="../multimedia/books/book_emi/14.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_emi/14c.jpg" alt="img14"></a>
                    
                </div>
            </div>

            <h3 class="tituloGaleria" id="romina"><a href="#arriba">Book Romina</a></h3>
            <div class="galeria-container">
                <div class="galeria-card">
                    <a href="../multimedia/books/book_panza_romi/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_panza_romi/1c.jpg" alt="img1"></a>
                    <a href="../multimedia/books/book_panza_romi/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_panza_romi/2c.jpg" alt="img2"></a>
                    <a href="../multimedia/books/book_panza_romi/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_panza_romi/3c.jpg" alt="img3"></a>
                    <a href="../multimedia/books/book_panza_romi/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_panza_romi/4c.jpg" alt="img4"></a>
                    <a href="../multimedia/books/book_panza_romi/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_panza_romi/5c.jpg" alt="img5"></a>
                    <a href="../multimedia/books/book_panza_romi/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_panza_romi/6c.jpg" alt="img6"></a>
                    <a href="../multimedia/books/book_panza_romi/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_panza_romi/7c.jpg" alt="img7"></a>
                    
                    
                </div>
            </div>

            <h3 class="tituloGaleria" id="indra"><a href="#arriba">Book Indra</a></h3>
            <div class="galeria-container">
                <div class="galeria-card">
                    <a href="../multimedia/books/book_indra/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/1c.jpg" alt="img1"></a>
                    <a href="../multimedia/books/book_indra/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/2c.jpg" alt="img2"></a>
                    <a href="../multimedia/books/book_indra/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/3c.jpg" alt="img3"></a>
                    <a href="../multimedia/books/book_indra/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/4c.jpg" alt="img4"></a>
                    <a href="../multimedia/books/book_indra/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/5c.jpg" alt="img5"></a>
                    <a href="../multimedia/books/book_indra/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/6c.jpg" alt="img6"></a>
                    <a href="../multimedia/books/book_indra/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/7c.jpg" alt="img7"></a>
                    <a href="../multimedia/books/book_indra/8.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/8c.jpg" alt="img8"></a>
                    <a href="../multimedia/books/book_indra/9.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/9c.jpg" alt="img9"></a>
                    <a href="../multimedia/books/book_indra/10.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/10c.jpg" alt="img10"></a>
                    <a href="../multimedia/books/book_indra/11.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/11c.jpg" alt="img11"></a>
                    <a href="../multimedia/books/book_indra/12.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/12c.jpg" alt="img12"></a>
                    <a href="../multimedia/books/book_indra/13.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/13c.jpg" alt="img13"></a>
                    <a href="../multimedia/books/book_indra/14.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/14c.jpg" alt="img14"></a>
                    <a href="../multimedia/books/book_indra/15.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/15c.jpg" alt="img15"></a>
                    <a href="../multimedia/books/book_indra/16.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/16c.jpg" alt="img16"></a>
                    <a href="../multimedia/books/book_indra/17.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_indra/17c.jpg" alt="img17"></a>
                </div>
            </div>

            <h3 class="tituloGaleria" id="facundo"><a href="#arriba">Book Facundo</a></h3>
            <div class="galeria-container">
                <div class="galeria-card">
                    <a href="../multimedia/books/book_facu/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_facu/1c.jpg" alt="img1"></a>
                    <a href="../multimedia/books/book_facu/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_facu/2c.jpg" alt="img2"></a>
                    <a href="../multimedia/books/book_facu/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_facu/3c.jpg" alt="img3"></a>
                    <a href="../multimedia/books/book_facu/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_facu/4c.jpg" alt="img4"></a>
                    <a href="../multimedia/books/book_facu/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_facu/5c.jpg" alt="img5"></a>
                    <a href="../multimedia/books/book_facu/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_facu/6c.jpg" alt="img6"></a>
                    <a href="../multimedia/books/book_facu/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_facu/7c.jpg" alt="img7"></a>
                    <a href="../multimedia/books/book_facu/8.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_facu/8c.jpg" alt="img8"></a>
                    <a href="../multimedia/books/book_facu/9.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_facu/9c.jpg" alt="img9"></a>
                    <a href="../multimedia/books/book_facu/10.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_facu/10c.jpg" alt="img10"></a>
                    
                </div>
            </div>

            <h3 class="tituloGaleria" id="felipe"><a href="#arriba">Book Felipe</a></h3>
            <div class="galeria-container">
                <div class="galeria-card">
                    <a href="../multimedia/books/book_felipe/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/1c.jpg" alt="img1"></a>
                    <a href="../multimedia/books/book_felipe/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/2c.jpg" alt="img2"></a>
                    <a href="../multimedia/books/book_felipe/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/3c.jpg" alt="img3"></a>
                    <a href="../multimedia/books/book_felipe/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/4c.jpg" alt="img4"></a>
                    <a href="../multimedia/books/book_felipe/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/5c.jpg" alt="img5"></a>
                    <a href="../multimedia/books/book_felipe/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/6c.jpg" alt="img6"></a>
                    <a href="../multimedia/books/book_felipe/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/7c.jpg" alt="img7"></a>
                    <a href="../multimedia/books/book_felipe/8.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/8c.jpg" alt="img8"></a>
                    <a href="../multimedia/books/book_felipe/9.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/9c.jpg" alt="img9"></a>
                    <a href="../multimedia/books/book_felipe/10.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/10c.jpg" alt="img10"></a>
                    <a href="../multimedia/books/book_felipe/11.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/11c.jpg" alt="img11"></a>
                    <a href="../multimedia/books/book_felipe/12.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/12c.jpg" alt="img12"></a>
                    <a href="../multimedia/books/book_felipe/13.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/13c.jpg" alt="img13"></a>
                    <a href="../multimedia/books/book_felipe/14.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/14c.jpg" alt="img14"></a>
                    <a href="../multimedia/books/book_felipe/15.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/15c.jpg" alt="img15"></a>
                    <a href="../multimedia/books/book_felipe/16.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_felipe/16c.jpg" alt="img16"></a>
                    
                </div>
            </div>

            <h3 class="tituloGaleria" id="isabella"><a href="#arriba">Book Isabella</a></h3>
            <div class="galeria-container">
                <div class="galeria-card">
                    <a href="../multimedia/books/book_isa/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/1c.jpg" alt="img1"></a>
                    <a href="../multimedia/books/book_isa/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/2c.jpg" alt="img2"></a>
                    <a href="../multimedia/books/book_isa/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/3c.jpg" alt="img3"></a>
                    <a href="../multimedia/books/book_isa/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/4c.jpg" alt="img4"></a>
                    <a href="../multimedia/books/book_isa/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/5c.jpg" alt="img5"></a>
                    <a href="../multimedia/books/book_isa/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/6c.jpg" alt="img6"></a>
                    <a href="../multimedia/books/book_isa/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/7c.jpg" alt="img7"></a>
                    <a href="../multimedia/books/book_isa/8.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/8c.jpg" alt="img8"></a>
                    <a href="../multimedia/books/book_isa/9.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/9c.jpg" alt="img9"></a>
                    <a href="../multimedia/books/book_isa/10.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/10c.jpg" alt="img10"></a>
                    <a href="../multimedia/books/book_isa/11.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/11c.jpg" alt="img11"></a>
                    <a href="../multimedia/books/book_isa/12.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/12c.jpg" alt="img12"></a>
                    <a href="../multimedia/books/book_isa/13.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/13c.jpg" alt="img13"></a>
                    <a href="../multimedia/books/book_isa/14.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/14c.jpg" alt="img14"></a>
                    <a href="../multimedia/books/book_isa/15.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/15c.jpg" alt="img15"></a>
                    <a href="../multimedia/books/book_isa/16.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/16c.jpg" alt="img16"></a>
                    <a href="../multimedia/books/book_isa/17.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_isa/17c.jpg" alt="img17"></a>
                </div>
            </div>

            <h3 class="tituloGaleria" id="catalina"><a href="#arriba">Book Catalina</a></h3>
            <div class="galeria-container">
                <div class="galeria-card">
                    <a href="../multimedia/books/book_catalina/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/1c.jpg" alt="img1"></a>
                    <a href="../multimedia/books/book_catalina/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/2c.jpg" alt="img2"></a>
                    <a href="../multimedia/books/book_catalina/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/3c.jpg" alt="img3"></a>
                    <a href="../multimedia/books/book_catalina/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/4c.jpg" alt="img4"></a>
                    <a href="../multimedia/books/book_catalina/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/5c.jpg" alt="img5"></a>
                    <a href="../multimedia/books/book_catalina/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/6c.jpg" alt="img6"></a>
                    <a href="../multimedia/books/book_catalina/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/7c.jpg" alt="img7"></a>
                    <a href="../multimedia/books/book_catalina/8.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/8c.jpg" alt="img8"></a>
                    <a href="../multimedia/books/book_catalina/9.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/9c.jpg" alt="img9"></a>
                    <a href="../multimedia/books/book_catalina/10.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/10c.jpg" alt="img10"></a>
                    <a href="../multimedia/books/book_catalina/11.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/11c.jpg" alt="img11"></a>
                    <a href="../multimedia/books/book_catalina/12.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/12c.jpg" alt="img12"></a>
                    <a href="../multimedia/books/book_catalina/13.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/13c.jpg" alt="img13"></a>
                    <a href="../multimedia/books/book_catalina/14.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/14c.jpg" alt="img14"></a>
                    <a href="../multimedia/books/book_catalina/15.jpg" data-lightbox="roadtrip"><img src="../multimedia/books/book_catalina/15c.jpg" alt="img15"></a>
                </div>
            </div>
    

        <!--Footer-->

        <footer>
            <main class="estructuraFooter">

          <!--Menú del footer-->
            <nav class="navFooter">
              <ul>
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../views/Fotos.html">Fotos</a></li>
                  <li><a href="../views/Videos.html">Videos</a></li>
                  <li><a href="../views/Disenos.html">Diseños</a></li>
                  <li><a href="../views/Contacto.html">Contacto</a></li>
              </ul>
            </nav>

          <!--Redes sociales-->
          
            <div  class="redesSociales"> 
                  <ul>
                    <li><a href="https://www.facebook.com/gl.videos.75" target="_blank"><img src="../multimedia/iconos/facebook.svg"></a></li>
                    <li><a href="https://www.instagram.com/gl_videos/" target="_blank"><img src="../multimedia/iconos/instagram.svg" alt="Instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC2IPS6pAWfy_kcKSnCdeeKQ" target="_blank"><img src="../multimedia/iconos/youtube.svg" alt="Youtube"></a></li>
                    <li><a href="https://www.linkedin.com/in/gabriela-lupidi-334315214/" target="_blank"><img src="../multimedia/iconos/linkedin.svg" alt="Linkedin"></a></li>
                  </ul>
              </div>

          <!--Texto del Footer-->
          
              <section>
                  <span>E-mail: glfotosvideos@gmail.com</span>
                  <p>© 2017-2021 GL Fotos & Videos. Todos los derechos reservados</p>
              </section>
            </main>
          </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="../js/lightbox-plus-jquery.min.js"></script>
        <script src="../js/lightbox.min.js"></script>
        <script src="../js/boton.js"></script>

        </body>
    
</html>