<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    
    <!--Icono de la página web-->

    <link rel="icon" type="image/png" href="../multimedia/Logo GL web.png">

    <!--KEYWORDS-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Estudio de fotografía profesional y videos personalizados. Contamos con un servicio de diseño de invitaciones.">
    <meta name="keywords" content="FOTOGRAFIA, CUMPLEAÑOS, BAUTISMOS, BOOKS, BABY SHOWER, VIDEO, INVITACION, FOTOS, LOGO, CUADRO">


    <!--Rutas de linkeo-->


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/estilos.css">

    <!--Titulo de la sección-->

    <title>GL Contacto</title>

    <!--Estilo predeterminado para todas las listas-->

         <style>
            A:link {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            A:hover {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            A:visited {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            </style>

    </head>


        <body>

            <header> 
               
            <!--LOGO-->

            <div>
                <img src="../multimedia/Logo-GL-texto.png" alt="LOGO GL" class="logo">
            </div>  

            <!--Barra de navegación--> 

                   <nav>

                    <ul class="menu">
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="../views/Fotos.html">Fotos</a>
                            <ul class="subMenu">
                              <li><a href="../views/books.html">Books</a></li>
                              <li><a href="../views/bautismos.html">Bautismos</a></li>
                              <li><a href="../views/cumpleanos.html">Cumpleaños</a></li>
                              <li><a href="../views/babyshowers.html">Baby showers</a></li>
                              <li><a href="../views/otros-fotos.html">Otros</a></li>
                            </ul>
                        </li>
                        <li><a href="../views/Videos.html">Videos</a>
                            <ul class="subMenu">
                              <li><a href="../views/video-full.html">Video full</a></li>
                              <li><a href="../views/video-mixto.html">Video Mixto</a></li>
                              <li><a href="../views/video-fotos.html">Video de Fotos</a></li>
                              <li><a href="../views/videos-album.html">Video Álbum</a></li>
                            </ul>
                           </li>
                        <li><a href="../views/Disenos.html">Diseños</a>
                            <ul class="subMenu">
                              <li><a href="../views/video-invitacion.html">Video Invitación</a></li>
                              <li><a href="../views/invitacion-digital.html">Invitación Digital</a></li>
                              <li><a href="../views/cuadros.html">Cuadros</a></li>
                              <li><a href="../views/logos.html">Logos</a></li>
                            </ul>
                           </li>
                        <li class="linkActivo"><a href="../views/Contacto.html">Contacto</a></li>
                    </ul>
                  

          </nav>
  

       </header>  

       <!--Formulario de contacto-->

       <legend class="contacto">CONTACTO</legend>

    <form>
        <fieldset>

            <div>
                <span class="iconoContacto"><img src="../multimedia/iconos/persona.svg" alt="persona"></span>
                <div>
                    <input id="nombre" name="Nombre" type="text" placeholder="Nombre">
                </div>
            </div>
            <div>
                <span class="iconoContacto"><img src="../multimedia/iconos/persona.svg" alt="persona"></span>
                <div>
                    <input id="apellido" name="Apellido" type="text" placeholder="Apellido">
                </div>
            </div>

            <div>
                <span class="iconoContacto"><img src="../multimedia/iconos/sobre.svg" alt="email"></span>
                <div>
                    <input id="email" name="Email" type="text" placeholder="Email">
                </div>
            </div>

            <div>
                <span class="iconoContacto"><img src="../multimedia/iconos/telefono.svg" alt="telefono"></span>
                <div>
                    <input id="telefono" name="Teléfono" type="text" placeholder="Teléfono">
                </div>
            </div>

            <div>
                <span class="iconoContacto"><img src="../multimedia/iconos/lapiz.svg" alt="lapiz"></span>
                <div>
                    <textarea id="mensaje" name="Mensaje" placeholder="Dejanos tu mensaje y te contactaremos a la brevedad." rows="7"></textarea>
                </div>
            </div>

            <div>
                <div>
                    <button type="submit" class="botonEnviar">Enviar</button>
                    <button type="delete" class="botonEnviar">Resetear</button>
                </div>
            </div>
        </fieldset>
    </form>

        <!--Footer-->

        <footer>
            <main class="estructuraFooter">

          <!--Menú del footer-->
            <nav class="navFooter">
              <ul>
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../views/Fotos.html">Fotos</a></li>
                  <li><a href="../views/Videos.html">Videos</a></li>
                  <li><a href="../views/Disenos.html">Diseños</a></li>
                  <li><a href="../views/Contacto.html">Contacto</a></li>
              </ul>
            </nav>

          <!--Redes sociales-->
          
            <div  class="redesSociales"> 
                  <ul>
                    <li><a href="https://www.facebook.com/gl.videos.75" target="_blank"><img src="../multimedia/iconos/facebook.svg"></a></li>
                    <li><a href="https://www.instagram.com/gl_videos/" target="_blank"><img src="../multimedia/iconos/instagram.svg" alt="Instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC2IPS6pAWfy_kcKSnCdeeKQ" target="_blank"><img src="../multimedia/iconos/youtube.svg" alt="Youtube"></a></li>
                    <li><a href="https://www.linkedin.com/in/gabriela-lupidi-334315214/" target="_blank"><img src="../multimedia/iconos/linkedin.svg" alt="Linkedin"></a></li>
                  </ul>
              </div>

          <!--Texto del Footer-->
          
              <section>
                  <span>E-mail: glfotosvideos@gmail.com</span>
                  <p>© 2017-2021 GL Fotos & Videos. Todos los derechos reservados</p>
              </section>
            </main>
          </footer>



        </body>
    
</html>