<!DOCTYPE html>

<html lang="es">

    <head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <!--Icono de la página web-->

   <link rel="icon" type="image/png" href="../multimedia/Logo GL web.png">

   <!--KEYWORDS-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Estudio de fotografía profesional. Books recien nacidos, cumpleaños, bautismos, productos y/o indumentaria">
  <meta name="keywords" content="FOTOGRAFIA, CUMPLEAÑOS, BAUTISMOS, BOOKS, BABY SHOWER, VIDEO, INVITACION, FOTOS, LOGO, CUADRO">

    <!--Rutas de linkeo-->

     
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <link rel="stylesheet" href="../assets/css/estilos.css">
     <link rel="stylesheet" href="../assets/css/lightbox.min.css">
     

     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!--Titulo de la sección-->

         <title>GL Fotos-Cumpleaños</title>


    <!--Estilo predeterminado para todas las listas-->

         <style>
            A:link {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            A:hover {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            A:visited {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            </style>

    </head>


    <body>


            <header> 
                
            <!--LOGO-->

            <div>
                 <img src="../multimedia/Logo-GL-texto.png" alt="LOGO GL" class="logo">
            </div>  

            <!--Barra de navegación-->

           <nav>

                     <ul class="menu menuQuery">
                         <li><a href="../index.html">Inicio</a></li>
                         <li class="linkActivo"><a href="../views/Fotos.html">Fotos</a>
                             <ul class="subMenu subMenuCorreccion">
                               <li><a href="../views/books.html">Books</a></li>
                               <li><a href="../views/bautismos.html">Bautismos</a></li>
                               <li><a href="../views/cumpleanos.html">Cumpleaños</a></li>
                               <li><a href="../views/babyshowers.html">Baby showers</a></li>
                               <li><a href="../views/otros-fotos.html">Otros</a></li>
                             </ul>
                         </li>
                         <li><a href="../views/Videos.html">Videos</a>
                             <ul class="subMenu subMenuCorreccion">
                               <li><a href="../views/video-full.html">Video full</a></li>
                               <li><a href="../views/video-mixto.html">Video Mixto</a></li>
                               <li><a href="../views/video-fotos.html">Video de Fotos</a></li>
                               <li><a href="../views/videos-album.html">Video Álbum</a></li>
                             </ul>
                            </li>
                         <li><a href="../views/Disenos.html">Diseños</a>
                             <ul class="subMenu subMenuCorreccion">
                               <li><a href="../views/video-invitacion.html">Video Invitación</a></li>
                               <li><a href="../views/invitacion-digital.html">Invitación Digital</a></li>
                               <li><a href="../views/cuadros.html">Cuadros</a></li>
                               <li><a href="../views/logos.html">Logos</a></li>
                             </ul>
                            </li>
                         <li><a href="../views/Contacto.html">Contacto</a></li>
                     </ul>
                   

           </nav>
                  
       </header>   

        <h2 class="titulos" id="arriba"><u>GALERÍA CUMPLEAÑOS</u></h2>

        <!--Titulos de las galerias-->

        <div>
            <ul class="galerias">
                <li><a href="#mateo1">Cumpleaños 1 Mateo</a></li>
                <li><a href="#isabella3">Cumpleaños 3 Isabella</a></li>
            </ul>
        </div>

        <!--Boton florante-->

        <div id="div-totop" class="cmn-divfloat">
            <a href="#arriba" class="btn cmn-btncircle">
                <i class="bi bi-house-fill"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                  </svg>
            </a>
        </div>

        <!--Galerias-->
            

        <h3 class="tituloGaleria" id="mateo1"><a href="#arriba">Cumpleaños 1 Mateo</a></h3>
        <div class="galeria-container">
            <div class="galeria-card">
                <a href="../multimedia/bautismos/bautismo_benicio/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/1c.jpg" alt="img1"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/2c.jpg" alt="img2"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/3c.jpg" alt="img3"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/4c.jpg" alt="img4"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/5c.jpg" alt="img5"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/6c.jpg" alt="img6"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/7c.jpg" alt="img7"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/8.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/8c.jpg" alt="img8"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/9.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/9c.jpg" alt="img9"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/10.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/10c.jpg" alt="img10"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/11.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/11c.jpg" alt="img11"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/12.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/12c.jpg" alt="img12"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/13.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/13c.jpg" alt="img13"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/14.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/14c.jpg" alt="img14"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/15.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/15c.jpg" alt="img15"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/16.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/16c.jpg" alt="img16"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/17.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/17c.jpg" alt="img17"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/18.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/18c.jpg" alt="img18"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/19.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/19c.jpg" alt="img19"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/20.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/20c.jpg" alt="img20"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/21.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/21c.jpg" alt="img21"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/22.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/22c.jpg" alt="img22"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/23.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/23c.jpg" alt="img23"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/24.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/24c.jpg" alt="img24"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/25.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/25c.jpg" alt="img25"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/26.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/26c.jpg" alt="img26"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/27.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/27c.jpg" alt="img27"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/28.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/28c.jpg" alt="img28"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/29.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/29c.jpg" alt="img29"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/30.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/30c.jpg" alt="img30"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/31.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/31c.jpg" alt="img31"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/32.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/32c.jpg" alt="img32"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/33.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/33c.jpg" alt="img33"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/34.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/34c.jpg" alt="img34"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/35.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/35c.jpg" alt="img35"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/36.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/36c.jpg" alt="img36"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/37.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/37c.jpg" alt="img37"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/38.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/38c.jpg" alt="img38"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/39.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/39c.jpg" alt="img39"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/40.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/40c.jpg" alt="img40"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/41.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/41c.jpg" alt="img41"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/42.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/42c.jpg" alt="img42"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/43.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/43c.jpg" alt="img43"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/44.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/44c.jpg" alt="img44"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/45.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/45c.jpg" alt="img45"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/46.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/46c.jpg" alt="img46"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/47.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/47c.jpg" alt="img47"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/48.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/48c.jpg" alt="img48"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/49.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/49c.jpg" alt="img49"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/50.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/50c.jpg" alt="img50"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/51.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/51c.jpg" alt="img51"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/52.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/52c.jpg" alt="img52"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/53.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/53c.jpg" alt="img53"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/54.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/54c.jpg" alt="img54"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/55.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/55c.jpg" alt="img55"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/56.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/56c.jpg" alt="img56"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/57.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/57c.jpg" alt="img57"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/58.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/58c.jpg" alt="img58"></a>
                <a href="../multimedia/bautismos/bautismo_benicio/59.jpg" data-lightbox="roadtrip"><img src="../multimedia/bautismos/bautismo_benicio/59c.jpg" alt="img59"></a>
            </div>
        </div>
            
    

        <!--Footer-->

        <footer>
            <main class="estructuraFooter">

          <!--Menú del footer-->
            <nav class="navFooter">
              <ul>
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../views/Fotos.html">Fotos</a></li>
                  <li><a href="../views/Videos.html">Videos</a></li>
                  <li><a href="../views/Disenos.html">Diseños</a></li>
                  <li><a href="../views/Contacto.html">Contacto</a></li>
              </ul>
            </nav>

          <!--Redes sociales-->
          
            <div  class="redesSociales"> 
                  <ul>
                    <li><a href="https://www.facebook.com/gl.videos.75" target="_blank"><img src="../multimedia/iconos/facebook.svg"></a></li>
                    <li><a href="https://www.instagram.com/gl_videos/" target="_blank"><img src="../multimedia/iconos/instagram.svg" alt="Instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC2IPS6pAWfy_kcKSnCdeeKQ" target="_blank"><img src="../multimedia/iconos/youtube.svg" alt="Youtube"></a></li>
                    <li><a href="https://www.linkedin.com/in/gabriela-lupidi-334315214/" target="_blank"><img src="../multimedia/iconos/linkedin.svg" alt="Linkedin"></a></li>
                  </ul>
              </div>

          <!--Texto del Footer-->
          
              <section>
                  <span>E-mail: glfotosvideos@gmail.com</span>
                  <p>© 2017-2021 GL Fotos & Videos. Todos los derechos reservados</p>
              </section>
            </main>
          </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="../js/lightbox-plus-jquery.min.js"></script>
        <script src="../js/lightbox.min.js"></script>
        <script src="../js/boton.js"></script>

        </body>
    
</html>