<!DOCTYPE html>

<html lang="es">

    <head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <!--Icono de la página web-->

   <link rel="icon" type="image/png" href="../multimedia/Logo GL web.png">

   <!--KEYWORDS-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Estudio de fotografía profesional. Books recien nacidos, cumpleaños, bautismos, productos y/o indumentaria">
  <meta name="keywords" content="FOTOGRAFIA, CUMPLEAÑOS, BAUTISMOS, BOOKS, BABY SHOWER, VIDEO, INVITACION, FOTOS, LOGO, CUADRO">

    <!--Rutas de linkeo-->

     
    
    <link rel="stylesheet" href="../assets/css/lightbox.css">
    <link rel="stylesheet" href="../assets/css/estilos.css">
     

     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!--Titulo de la sección-->

         <title>GL Fotos-Otros</title>


    <!--Estilo predeterminado para todas las listas-->

         <style>
            A:link {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            A:hover {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            A:visited {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            </style>

    </head>


    <body>


            <header> 
                
            <!--LOGO-->

            <div>
                 <img src="../multimedia/Logo-GL-texto.png" alt="LOGO GL" class="logo">
            </div>  

            <!--Barra de navegación-->

           <nav>

                     <ul class="menu menuQuery">
                         <li><a href="../index.html">Inicio</a></li>
                         <li class="linkActivo"><a href="../views/Fotos.html">Fotos</a>
                             <ul class="subMenu">
                               <li><a href="../views/books.html">Books</a></li>
                               <li><a href="../views/bautismos.html">Bautismos</a></li>
                               <li><a href="../views/cumpleanos.html">Cumpleaños</a></li>
                               <li><a href="../views/babyshowers.html">Baby showers</a></li>
                               <li><a href="../views/otros-fotos.html">Otros</a></li>
                             </ul>
                         </li>
                         <li><a href="../views/Videos.html">Videos</a>
                             <ul class="subMenu">
                               <li><a href="../views/video-full.html">Video full</a></li>
                               <li><a href="../views/video-mixto.html">Video Mixto</a></li>
                               <li><a href="../views/video-fotos.html">Video de Fotos</a></li>
                               <li><a href="../views/videos-album.html">Video Álbum</a></li>
                             </ul>
                            </li>
                         <li><a href="../views/Disenos.html">Diseños</a>
                             <ul class="subMenu">
                               <li><a href="../views/video-invitacion.html">Video Invitación</a></li>
                               <li><a href="../views/invitacion-digital.html">Invitación Digital</a></li>
                               <li><a href="../views/cuadros.html">Cuadros</a></li>
                               <li><a href="../views/logos.html">Logos</a></li>
                             </ul>
                            </li>
                         <li><a href="../views/Contacto.html">Contacto</a></li>
                     </ul>
                   

           </nav>
                  
       </header>   

        <h2 class="titulos" id="arriba"><u>GALERÍA OTROS</u></h2>

        <!--Titulos de las galerias-->

        <div>
            <ul class="galerias">
                <li><a href="#tomi">Tomás Fútbol Americano</a></li>
                <li><a href="#varias">Varias</a></li>
            </ul>
        </div>

        <!--Boton florante-->

        <div id="btn-home" class="btn-home">
          <a href="#arriba" class="btn-borde">
              <img src="../multimedia/iconos/home.svg" alt="home">
          </a>
      </div>

        <!--Galerias-->

        <h3 class="tituloGaleria" id="tomi"><a href="#arriba">Tomás Fútbol Americano</a></h3>
        <div class="galeria-container">
            <div class="galeria-card">
                <a href="../multimedia/otros_fotos/tomi_partido/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/1c.jpg" alt="img1"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/2c.jpg" alt="img2"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/3c.jpg" alt="img3"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/4c.jpg" alt="img4"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/5c.jpg" alt="img5"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/6c.jpg" alt="img6"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/7c.jpg" alt="img7"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/8.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/8c.jpg" alt="img8"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/9.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/9c.jpg" alt="img9"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/10.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/10c.jpg" alt="img10"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/11.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/11c.jpg" alt="img11"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/12.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/12c.jpg" alt="img12"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/13.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/13c.jpg" alt="img13"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/14.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/14c.jpg" alt="img14"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/15.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/15c.jpg" alt="img15"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/16.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/16c.jpg" alt="img16"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/17.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/17c.jpg" alt="img17"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/18.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/18c.jpg" alt="img18"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/19.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/19c.jpg" alt="img19"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/20.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/20c.jpg" alt="img20"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/21.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/21c.jpg" alt="img21"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/22.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/22c.jpg" alt="img22"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/23.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/23c.jpg" alt="img23"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/24.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/24c.jpg" alt="img24"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/25.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/25c.jpg" alt="img25"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/26.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/26c.jpg" alt="img26"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/27.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/27c.jpg" alt="img27"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/28.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/28c.jpg" alt="img28"></a>
                <a href="../multimedia/otros_fotos/tomi_partido/29.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/tomi_partido/29c.jpg" alt="img29"></a>
             </div>
        </div>
            

        <h3 class="tituloGaleria" id="varias"><a href="#arriba">Varias</a></h3>
        <div class="galeria-container">
            <div class="galeria-card">
                <a href="../multimedia/otros_fotos/varias/1.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/1c.jpg" alt="img1"></a>
                <a href="../multimedia/otros_fotos/varias/2.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/2c.jpg" alt="img2"></a>
                <a href="../multimedia/otros_fotos/varias/3.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/3c.jpg" alt="img3"></a>
                <a href="../multimedia/otros_fotos/varias/4.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/4c.jpg" alt="img4"></a>
                <a href="../multimedia/otros_fotos/varias/5.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/5c.jpg" alt="img5"></a>
                <a href="../multimedia/otros_fotos/varias/6.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/6c.jpg" alt="img6"></a>
                <a href="../multimedia/otros_fotos/varias/7.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/7c.jpg" alt="img7"></a>
                <a href="../multimedia/otros_fotos/varias/8.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/8c.jpg" alt="img8"></a>
                <a href="../multimedia/otros_fotos/varias/9.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/9c.jpg" alt="img9"></a>
                <a href="../multimedia/otros_fotos/varias/10.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/10c.jpg" alt="img10"></a>
                <a href="../multimedia/otros_fotos/varias/11.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/11c.jpg" alt="img11"></a>
                <a href="../multimedia/otros_fotos/varias/12.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/12c.jpg" alt="img12"></a>
                <a href="../multimedia/otros_fotos/varias/13.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/13c.jpg" alt="img13"></a>
                <a href="../multimedia/otros_fotos/varias/14.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/14c.jpg" alt="img14"></a>
                <a href="../multimedia/otros_fotos/varias/15.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/15c.jpg" alt="img15"></a>
                <a href="../multimedia/otros_fotos/varias/16.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/16c.jpg" alt="img16"></a>
                <a href="../multimedia/otros_fotos/varias/17.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/17c.jpg" alt="img17"></a>
                <a href="../multimedia/otros_fotos/varias/18.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/18c.jpg" alt="img18"></a>
                <a href="../multimedia/otros_fotos/varias/19.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/19c.jpg" alt="img19"></a>
                <a href="../multimedia/otros_fotos/varias/20.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/20c.jpg" alt="img20"></a>
                <a href="../multimedia/otros_fotos/varias/21.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/21c.jpg" alt="img21"></a>
                <a href="../multimedia/otros_fotos/varias/22.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/22c.jpg" alt="img22"></a>
                <a href="../multimedia/otros_fotos/varias/23.jpg" data-lightbox="roadtrip"><img src="../multimedia/otros_fotos/varias/23c.jpg" alt="img23"></a>

            </div>
        </div>
            
    

        <!--Footer-->

        <footer>
            <main class="estructuraFooter">

          <!--Menú del footer-->
            <nav class="navFooter">
              <ul>
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../views/Fotos.html">Fotos</a></li>
                  <li><a href="../views/Videos.html">Videos</a></li>
                  <li><a href="../views/Disenos.html">Diseños</a></li>
                  <li><a href="../views/Contacto.html">Contacto</a></li>
              </ul>
            </nav>

          <!--Redes sociales-->
          
            <div  class="redesSociales"> 
                  <ul>
                    <li><a href="https://www.facebook.com/gl.videos.75" target="_blank"><img src="../multimedia/iconos/facebook.svg"></a></li>
                    <li><a href="https://www.instagram.com/gl_videos/" target="_blank"><img src="../multimedia/iconos/instagram.svg" alt="Instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC2IPS6pAWfy_kcKSnCdeeKQ" target="_blank"><img src="../multimedia/iconos/youtube.svg" alt="Youtube"></a></li>
                    <li><a href="https://www.linkedin.com/in/gabriela-lupidi-334315214/" target="_blank"><img src="../multimedia/iconos/linkedin.svg" alt="Linkedin"></a></li>
                  </ul>
              </div>

          <!--Texto del Footer-->
          
              <section>
                  <span>E-mail: glfotosvideos@gmail.com</span>
                  <p>© 2017-2021 GL Fotos & Videos. Todos los derechos reservados</p>
              </section>
            </main>
          </footer>

       
        <script src="../js/lightbox-plus-jquery.min.js"></script>
        <script src="../js/lightbox.min.js"></script>
        <script src="../js/boton.js"></script>

        </body>
    
</html>