<!DOCTYPE html>

<html lang="es">

    <head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Icono de la página web-->

    <link rel="icon" type="image/png" href="../multimedia/Logo GL web.png">

    <!--KEYWORDS-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Estudio de fotografía profesional. Books recien nacidos, cumpleaños, productos y/o indumentaria">
  <meta name="keywords" content="FOTOGRAFIA, CUMPLEAÑOS, BAUTISMOS, BOOKS, BABY SHOWER, VIDEO, INVITACION, FOTOS, LOGO, CUADRO">

    <!--Rutas de linkeo-->


    
     <link rel="stylesheet" href="../assets/css/estilos.css">

     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!--Titulo de la sección-->

         <title>GL Video Álbum</title>

         <!--Estilo predeterminado para todas las listas-->

         <style>
            A:link {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            A:hover {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            A:visited {color: white; font-family: 'Cabin', sans-serif; text-decoration: none; font-weight: bold; }
            </style>

    </head>


    <body>


        <header> 
                
        <!--LOGO-->

        <div>
              <img src="../multimedia/Logo-GL-texto.png" alt="LOGO GL" class="logo">
        </div>  

        <!--Barra de navegación-->

        <nav>

                     <ul class="menu">
                         <li><a href="../index.html">Inicio</a></li>
                         <li><a href="../views/Fotos.html">Fotos</a>
                             <ul class="subMenu">
                               <li><a href="../views/books.html">Books</a></li>
                               <li><a href="../views/bautismos.html">Bautismos</a></li>
                               <li><a href="../views/cumpleanos.html">Cumpleaños</a></li>
                               <li><a href="../views/babyshowers.html">Baby showers</a></li>
                               <li><a href="../views/otros-fotos.html">Otros</a></li>
                             </ul>
                         </li>
                         <li class="linkActivo"><a href="../views/Videos.html">Videos</a>
                             <ul class="subMenu">
                               <li><a href="../views/video-full.html">Video full</a></li>
                               <li><a href="../views/video-mixto.html">Video Mixto</a></li>
                               <li><a href="../views/video-fotos.html">Video de Fotos</a></li>
                               <li><a href="../views/videos-album.html">Video Álbum</a></li>
                             </ul>
                            </li>
                         <li><a href="../views/Disenos.html">Diseños</a>
                             <ul class="subMenu">
                               <li><a href="../views/video-invitacion.html">Video Invitación</a></li>
                               <li><a href="../views/invitacion-digital.html">Invitación Digital</a></li>
                               <li><a href="../views/cuadros.html">Cuadros</a></li>
                               <li><a href="../views/logos.html">Logos</a></li>
                             </ul>
                            </li>
                         <li><a href="../views/Contacto.html">Contacto</a></li>
                     </ul>
                   

           </nav>
                  
       </header>   

        <h2 class="titulos" id="arriba"><u>GALERÍA VIDEO ÁLBUM</u></h2>

        <h3 class="textoGalerias">Conjunto de fotos y videos, con musicalización de fondo y efectos de transición.<br>Ideal para organizar esas fotos y/o videos de nuestros viajes o eventos, <br> y obtener una presentación mas dinámica para compartir con nuestros seres queridos. <br>
          El cliente puede elegir, si lo desea, la duración del video y la música que acompañará.</h3>
            
         
        <!--Galerias-->
        
        <section class="galeria-videos-modal">
            <div class="tituloModal">
                <h4>Cumpleaños Mateo 1er año</h4>
            </div>
            <div class="videoModal">
                <iframe src="https://player.vimeo.com/video/564315386?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Video &amp;aacute;lbum Mateo 1er a&amp;ntilde;o.mp4"></iframe>
            </div>
        </section>


    

        <!--Footer-->

        <footer>
          <main class="estructuraFooter">

        <!--Menú del footer-->
          <nav class="navFooter">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../views/Fotos.html">Fotos</a></li>
                <li><a href="../views/Videos.html">Videos</a></li>
                <li><a href="../views/Disenos.html">Diseños</a></li>
                <li><a href="../views/Contacto.html">Contacto</a></li>
            </ul>
          </nav>

        <!--Redes sociales-->
        
          <div  class="redesSociales"> 
                <ul>
                  <li><a href="https://www.facebook.com/gl.videos.75" target="_blank"><img src="../multimedia/iconos/facebook.svg"></a></li>
                  <li><a href="https://www.instagram.com/gl_videos/" target="_blank"><img src="../multimedia/iconos/instagram.svg" alt="Instagram"></a></li>
                  <li><a href="https://www.youtube.com/channel/UC2IPS6pAWfy_kcKSnCdeeKQ" target="_blank"><img src="../multimedia/iconos/youtube.svg" alt="Youtube"></a></li>
                  <li><a href="https://www.linkedin.com/in/gabriela-lupidi-334315214/" target="_blank"><img src="../multimedia/iconos/linkedin.svg" alt="Linkedin"></a></li>
                </ul>
            </div>

        <!--Texto del Footer-->
        
            <section>
                <span>E-mail: glfotosvideos@gmail.com</span>
                <p>© 2017-2021 GL Fotos & Videos. Todos los derechos reservados</p>
            </section>
          </main>
        </footer>

        </body>
    
</html>